$primary-color: rgb(0, 163, 218);
$secondary-color: rgb(242, 242, 242);
$shadow-color: rgb(163, 163, 163);
$button-color: rgb(0, 103, 170);
$form-color: rgb(126, 199, 231);

$red-color: rgb(222, 34, 35);
$dark-red: rgb(148, 0, 0);
$green-color: rgb(100, 187, 106);
$title-color: rgb(33, 162, 202);
$orange-color: rgb(254, 193, 7);
$purple-color: rgb(88, 88, 158);
